<!DOCTYPE HTML>
<html>
<head>
    <title>测试</title>
</head>
<body>
<div class="station_box" style="display: none">
    <ul class="station_top">
        <li class="st1">车站名</li>
        <li class="st2">到达时间</li>
        <li class="st3">发车时间</li>
        <li class="st4">停留时间</li>
    </ul>
    <div class="station"><em class="control"></em>
        <dl class="station_lst on">
            <dt class="d1"><i>1</i></dt>
            <dd class="d2">北京西</dd>
            <dd class="d3">--</dd>
            <dd class="d4">19:53</dd>
            <dd class="d5">--</dd>
        </dl>
        <dl class="station_lst ">
            <dt class="d1"><i>2</i></dt>
            <dd class="d2">衡水</dd>
            <dd class="d3">22:03</dd>
            <dd class="d4">22:12</dd>
            <dd class="d5">9分</dd>
        </dl>
        <dl class="station_lst ">
            <dt class="d1"><i>3</i></dt>
            <dd class="d2">聊城</dd>
            <dd class="d3">23:32</dd>
            <dd class="d4">23:36</dd>
            <dd class="d5">4分</dd>
        </dl>
        <dl class="station_lst ">
            <dt class="d1"><i>4</i></dt>
            <dd class="d2">菏泽</dd>
            <dd class="d3">00:44</dd>
            <dd class="d4">00:47</dd>
            <dd class="d5">3分</dd>
        </dl>
        <dl class="station_lst ">
            <dt class="d1"><i>5</i></dt>
            <dd class="d2">阜阳</dd>
            <dd class="d3">03:06</dd>
            <dd class="d4">03:12</dd>
            <dd class="d5">6分</dd>
        </dl>
        <dl class="station_lst ">
            <dt class="d1"><i>6</i></dt>
            <dd class="d2">南昌</dd>
            <dd class="d3">08:05</dd>
            <dd class="d4">08:26</dd>
            <dd class="d5">21分</dd>
        </dl>
        <dl class="station_lst ">
            <dt class="d1"><i>7</i></dt>
            <dd class="d2">吉安</dd>
            <dd class="d3">10:39</dd>
            <dd class="d4">10:42</dd>
            <dd class="d5">3分</dd>
        </dl>
        <dl class="station_lst ">
            <dt class="d1"><i>8</i></dt>
            <dd class="d2">赣州</dd>
            <dd class="d3">12:31</dd>
            <dd class="d4">12:34</dd>
            <dd class="d5">3分</dd>
        </dl>
        <dl class="station_lst on">
            <dt class="d1"><i>9</i></dt>
            <dd class="d2">惠州</dd>
            <dd class="d3">16:50</dd>
            <dd class="d4">16:53</dd>
            <dd class="d5">3分</dd>
        </dl>
        <dl class="station_lst overdue">
            <dt class="d1"><i>10</i></dt>
            <dd class="d2">深圳</dd>
            <dd class="d3">18:10</dd>
            <dd class="d4">--</dd>
            <dd class="d5">--</dd>
        </dl>
    </div>
</div>
</body>
</html>